.results *:not(path)
{
    all: initial;
    color: #222;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

div#vapp.results
{
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 50px 50px 1fr 1fr;
    row-gap: 0
}

.results .grupa > .linki
{
    display: none;
}

.results .przyciski
{
    display: none;
}

.results .lewo
{
    display: none;
}

.results .srodek
{
    display: none;
}

.results .prawo
{
    display: none;
}

.results .header
{
    grid-column: 2;
    grid-row: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.results .ikony
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    padding-top: 10px;
}


.results a
{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    padding-right: 15px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.results .zalogujsie
{
    display: inline-block;
    margin-left: 8px;
    color: #fff;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 118px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.results .kropki
{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.results .menu
{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.results .dol
{
    height:10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 180px;
    grid-column: 1 / 3;
    grid-row: 2;
    border-bottom: 1px solid #dfe1e5;
}

.results svg
{
    height: 17px;
}
.results .apki
{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results .ap
{
    cursor: pointer;
    color: #5f6368;
    font-size: 15px;
}

.results .apki:hover
{
    text-decoration: underline;
}

.results .main
{
    grid-column: 1;
    grid-row: 1;
    row-gap: 0;
    display: flex;
}

.results .logo
{
    height: 40px;
    display: inline-block;
    padding: 30px 0px 0 25px;
}

.results .google
{
    max-width: 92px;
    height: 30px;
}

.results .wyszukiwanie
{
    display: flex;
    padding: 14px 180px 4px 50px;
}

.results .tekst
{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    padding-bottom: 5px;
    display: flex;
    height: 44px;
    margin: 0 auto;
    width: 690px;
}

.results .ilosc_wynikow
{
    padding-left: 180px;
    padding-top: 5px;
    grid-column: 1;
    grid-row: 3;
}

.results .ilosc_wynikow a
{
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.results .link:hover
{
    text-decoration: underline;
}

.results .tytul:hover
{
    text-decoration: underline;
}

.results .visual1
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.results img.lupa
{
    margin: auto;
    height: 24px;
    padding-bottom: 10px;
    padding-right: 18px;
    order: 5;
    cursor: pointer;
}

.results img.klaw
{
    margin: auto;
    height: 12px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
    order: 3;
    cursor: pointer;
}

.results img.mikro
{
    margin: auto;
    height: 24px;
    padding-right: 18px;
    padding-bottom: 10px;
    order: 4;
    cursor: pointer;
}

.results .autocom
{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    z-index: 3;
}

.results input
{
    background-color: transparent;
    margin: 0;
    border: none;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
    font-family: arial,sans-serif;
    -webkit-appearance: textfield;
    font-weight: 400;
    text-align: start;
    max-width: 590px;
    order: 1;
}

.results .tekst:hover,
.results .tekst:focus 
{
    box-shadow: 0 0 0.3em 0.1em #d9d9d9;
}

.results .zawartosc
{
    grid-column: 1;
    grid-row: 4;
    margin: 0 180px 0 180px;
    display: flex;
    flex-direction: column;
}

.results .wynik
{
    margin-bottom: 30px;
}

.results .naglowek .hiperlacze
{
    display: flex;
    flex-direction: column;
}

.results .hiperlacze .skrot
{
    font-size: 14px;
    line-height: 1.3;
    color: #202124;
}

.results .hiperlacze .rodzaj
{
    color: #5f6368;
    font-size: 14px;
    cursor: pointer;
}

.results .hiperlacze .tytul
{
    cursor: pointer;
}
.results .hiperlacze a
{
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    padding: 4px 0 4px 0;
    width: fit-content;
}

.results .zawartosc .streszczenie .opis
{
    line-height: 1.58;
    color: #4d5156;
    text-align: left;
    font-size: 14px;
}
.results .footer
{
    grid-column: 1 / 3;
    grid-row: 5;
    margin-top: 10px;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    border-top: 1px solid #dfe1e5;
}

.results .kraj
{
    padding: 10px 10px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.results .linki_dolne
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;

}

.results .bottom_text
{
    padding-right: 20px;
    cursor: pointer;
    font-family: arial,sans-serif;
    color: #70757a;
}