html, body
{
    height: 100%;
    width: auto;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin: 0;
    width: auto;
}

.dol
{
    display: none;
}

.ilosc_wynikow
{
    display: none;
}

.zawartosc
{
    display: none;
}

.wyzej
{
    display: none;
}

.nizej
{
    display: none;
}

.header
{
    padding: 6px;
}

.ikony
{
    display: grid;
    justify-content: right;
    flex-direction: row;
    padding-left: 32px;
}
.grupa
{
    display: inline-block;
    flex-grow: 1;
    align-items: center;
}

.linki
{
    display: inline-block;
    flex-grow: 1;
    align-items: center;
}

.linki:hover
{
    text-decoration: underline;
}

a
{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    padding-right: 15px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.zalogujsie
{
    display: inline-block;
    margin-left: 8px;
    color: #fff;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 118px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}

.zalogujsie:hover,
.zalogujsie:focus{
    background: #63a0ef;
    -webkit-box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

.menu
{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.menu:hover
{
    background: #F0F0F0;
    opacity: 1;

}

.kropki
{
    margin: auto;
    height: 20px;
    padding-bottom: 10px;
}

.menu:hover{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.aplikacje
{
    max-height: 23px;
    margin: auto;
}


.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
}

.google
{
    max-height: 92px;
}

.wyszukiwanie
{
    display: block;
    justify-content: center;
    grid-template-rows: 50% 50%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.tekst
{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 450px;
    max-width: 584px;
    padding-top: 5px;
}

.visual1
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

img.lupa
{
    margin: auto;
    height: 20px;
    padding-bottom: 10px;
}

img.klaw
{
    margin: auto;
    height: 13px;
    padding-bottom: 10px;
    padding-right: 10px;
}

img.mikro
{
    margin: auto;
    height: 28px;
    padding-left: 5px;
    padding-bottom: 20px;
}

input
{
    background-color: transparent;
    margin: 0;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
    font-family: arial,sans-serif;
    -webkit-appearance: textfield;
    font-weight: 400;
    text-align: start;
}

.tekst:hover,
.tekst:focus 
{
    box-shadow: 0 0 0.3em 0.1em #d9d9d9;
}

.przyciski
{
    height: 70px;
}

.buttons
{
    display: block;
    text-align: center;
    padding-top: 20px;
}

.przycisk1 
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.przycisk1:hover,
.przycisk1:focus 
{
    box-shadow: 3px 6px 0.2em -0.3em #d9d9d9;
    border: 1px solid #d9d9d9;
}

.przycisk2
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.przycisk2:hover,
.przycisk2:focus 
{
    box-shadow: 3px 6px 0.2em -0.3em #d9d9d9;
    border: 1px solid #d9d9d9;
}


.footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
}

.kraj
{
    padding: 13px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.linki_dolne
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;

}

@media only screen and (max-width: 1200px){
.srodek {
    order: -1;
    width: 100%;
    text-align: center;
}
}

.bottom_text
{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    white-space: nowrap;
}

.bottom_text:hover
{
    text-decoration: underline;
}

img.listek
{
    height: 14px;
    margin-right: 3px;
}

.neutralnosc > .bottom_text
{
    padding-left: 0;
}